<nav class="navbar bg-primary text-primary-content shadow-lg" th:fragment="customerNavigation">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/customer" class="btn btn-ghost normal-case text-xl">Moliceiro Meals</a>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/customer">Home</a></li>
                <li><a href="/customer/restaurants">Restaurants</a></li>
                <li><a href="/customer/reservations">My Reservations</a></li>
            </ul>
        </div>
        <a href="/" class="btn btn-outline btn-sm">Switch View</a>
    </div>
</nav>