<nav class="navbar bg-primary text-primary-content shadow-lg" th:fragment="navigation">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="btn btn-ghost normal-case text-xl">Moliceiro Meals</a>
        <ul class="menu menu-horizontal px-4 space-x-4">
            <li><a href="/restaurants" class="btn btn-ghost">View Restaurants</a></li>
            <li><a href="/restaurants/create" class="btn btn-ghost">Create Restaurant</a></li>
            <li><a href="/reservation/select-restaurant" class="btn btn-ghost">Make a Reservation</a></li>
            <li><a href="/reservation/list" class="btn btn-ghost">View Reservations</a></li>
        </ul>
    </div>
</nav>