<nav class="navbar bg-secondary text-secondary-content shadow-lg" th:fragment="staffNavigation">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/staff" class="btn btn-ghost normal-case text-xl">Staff Portal</a>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/staff">Dashboard</a></li>
                <li><a href="/staff/reservations">Reservations</a></li>
                <li><a href="/staff/restaurants">Manage Restaurants</a></li>
            </ul>
        </div>
        <a href="/" class="btn btn-outline btn-sm">Switch View</a>
    </div>
</nav>